<div class="super-title">Thanksgiving</div>

<% if current_user.present? %>
  <% if current_user.approved? %>
    <div class="sub-super-title">
      What have you given today?
    </div>

    <div class="super-button">
      <%= link_to "Record a donation", new_donation_path, class: 'button' %>
    </div>

    <div class="super-links">
      <%= link_to('Donations', [:donations]) %>
      | <%= link_to('Recipients', [:recipients]) %>

      <% if current_user.admin? %>
        | <%= link_to('Users', [:users]) %>
      <% end %>
    </div>
  <% else %>
    <p>Your account must be approved before you can access the app.</p>
  <% end %>
<% else %>
  <p>Please sign in.</p>
<% end %>
