<h1><%= "#{params[:year]}" if params[:year] %> Donations</h1>

<% if params[:year] %>
  <%= render 'year_index', donations: @donations, year: params[:year] %>
<% else %>
  <%= render 'index', donations: @donations %>
<% end %>

<br>

<%= link_to t("defaults.new_link", model: Donation), new_donation_path, class: 'button' %>
