// Place all the styles related to the donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "typeahead";

.accounting {
  text-align:right
}

.twitter-typeahead {
  width: 100%;
  margin-bottom: 1em;
}

.twitter-typeahead .tt-input {
  margin-bottom: 0;
}
