<footer class="footer">
  <div class="grid-x full-width">
    <div class="cell text-center">
      <%= link_to("https://github.com/lbraun/thanksgiving") do %>
        <%= image_tag("GitHub-Mark-32px.png") %>
      <% end %>
    </div>
  </div>
</footer>
