<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Home", donations_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to 'Donations', donations_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'Recipients', recipients_path %></li>
    </ul>
  </div>
</nav>